{% extends 'main.html' %} {% load static %} {% block content %}
<section class="login-section">
  <h2>Login</h2>
  <form id="loginForm" action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <input type="hidden" name="next" value="{{ request.GET.next }}">
    <button type="submit">Login</button>
  </form>
</section>
{% endblock %}