{% extends 'main.html' %} {% load static %} {% csrf_token %} {% block content %}
<script src="{% static 'path/to/auth.js' %}"></script>
<section class="login-section">
  <h2>Login</h2>
  <form id="loginForm" action="{% url 'login' %}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Login</button>
  </form>
</section>
{% endblock %}