{% extends 'main.html' %} {% load static %} {% block content %}
<section class="cart">
  <table width="100%">
    <thead>
      <tr>
        <td>Image</td>
        <td>Product</td>
        <td>Price</td>
        <td>Quantity</td>
        <td>Subtotal</td>
      </tr>
    </thead>
    <tbody>
      {% for cart_item in items_with_subtotal %}
      <tr>
        <td>
          <img src="{{ cart_item.item.image.url }}" alt="product-image" />
        </td>
        <td>{{ cart_item.item.name }}</td>
        <td>RM{{ cart_item.item.price }}</td>
        <td>{{ cart_item.quantity }}</td>
        <td>RM{{ cart_item.subtotal }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
<section class="subtotal">
  <table>
    <tr>
      <td>Cart Subtotal</td>
      <td>RM{{ total }}</td>
    </tr>
    <tr>
      <td>Shipping</td>
      <td>Free</td>
    </tr>
    <tr>
      <td>Total</td>
      <td>RM{{ total }}</td>
    </tr>
  </table>
  <br />
  <a href="{% url 'checkout' %}" class="payment">
    <button class="payment">Proceed To Checkout</button>
  </a>
</section>
{% endblock %}
