{% extends 'main.html' %} {% load static %} {% block content %}
<h1 class="food-heading">Catalogue</h1>
<br />
<section class="catalogue-container">
  <section class="products">
    <ul class="product-container">
      {% for product in products %}
      <li class="product">
        <a href="{% url 'product_detail' product.id %}">
          <img src="{{ product.image.url }}" alt="product-image" />
          <section class="product-desc">
            <h4>{{ product.name }}</h4>
            <section class="buy">
              <h5>RM{{ product.price }}</h5>
              <a href="{% url 'product_detail' product.id %}" class="cart-link">
                <img src="{% static 'images/icons/shopping-cart.png' %}" alt="shopping cart icon" />
              </a>
            </section>
          </section>
        </a>
      </li>
      {% endfor %}
    </ul>
  </section>
</section>
{% endblock %}

