{% extends 'main.html' %} {% load static %} {% block content %}
<h1 class="drinks-heading">Drinks</h1>

<!-- Unlisted list of COFFEE -->
<h3 class="list-header">COFFEE</h3>
<section class="drinks-menu">
  <ul>
    <!-- Individual coffee item with name and price -->
    <li class="item-container">
      <section class="item-text">
        <section class="item-header">
          <!-- Coffee name and price -->
          <h5>CAPPUCCINO</h5>
          <section class="separator"></section>
          <h5>RM7.50</h5>
        </section>
        <!-- Description of the coffee item -->
        <section class="item-description">
          <p>
            A rich, warm blend of espresso and steamed milk, topped with a light
            and airy foam. A taste of Italy in every sip.
          </p>
        </section>
        <a href="cappuccino.html" class="more-details-link">
          <button class="more-details">more details</button>
        </a>
      </section>
      <img
        src="./images/capuccino.jpg"
        alt="Cappuccino"
        width="160px"
        height="160px"
      />
    </li>
    <!-- Individual coffee item with name and price -->
    <li class="item-container">
      <section class="item-text">
        <!-- Coffee name and price -->
        <section class="item-header">
          <h5>LATTE</h5>
          <section class="separator"></section>
          <h5>RM8.00</h5>
        </section>
        <!-- Description of the coffee item -->
        <section class="item-description">
          <p>
            Smooth and creamy, this delightful blend of espresso and steamed
            milk is topped with a thin layer of froth for a silky finish.
          </p>
        </section>
        <a href="cappuccino.html" class="more-details-link">
          <button class="more-details">more details</button>
        </a>
      </section>
      <!-- Image of the coffee -->
      <img src="./images/latte.webp" alt="latte" width="160px" height="160px" />
    </li>
    <!-- Individual coffee item with name and price -->
    <li class="item-container">
      <section class="item-text">
        <section class="item-header">
          <!-- Coffee name and price -->
          <h5>MACCHIATO</h5>
          <section class="separator"></section>
          <h5>RM8.00</h5>
        </section>
        <!-- Description of the coffee item -->
        <section class="item-description">
          <p>
            Bold and robust, this Italian classic is a shot of espresso “marked”
            with a dollop of frothed milk.
          </p>
        </section>
        <a href="cappuccino.html" class="more-details-link">
          <button class="more-details">more details</button>
        </a>
      </section>
      <!-- Image of the coffee -->
      <img
        src="./images/macchiato.jpg"
        alt="macchiato"
        width="160px"
        height="160px"
      />
    </li>
    <!-- Individual coffee item with name and price -->
    <li class="item-container">
      <section class="item-text">
        <section class="item-header">
          <!-- Coffee name and price -->
          <h5>ESPRESSO</h5>
          <section class="separator"></section>
          <h5>RM11.00</h5>
        </section>
        <!-- Description of the coffee item -->
        <section class="item-description">
          <p>
            A full-bodied shot of coffee that packs a punch. Made by forcing hot
            water through finely ground coffee beans.
          </p>
        </section>
        <a href="cappuccino.html" class="more-details-link">
          <button class="more-details">more details</button>
        </a>
      </section>
      <!-- Image of the coffee -->
      <img
        src="./images/espresso.jpg"
        alt="espresso"
        width="160px"
        height="160px"
      />
    </li>
    <!-- Individual coffee item with name and price -->
    <li class="item-container">
      <section class="item-text">
        <section class="item-header">
          <!-- Coffee name and price -->
          <h5>MILO</h5>
          <section class="separator"></section>
          <h5>RM3.50</h5>
        </section>
        <!-- Description of the coffee item -->
        <section class="item-description">
          <p>
            A comforting chocolate malted drink made from the beloved Nestlé
            product. Can be enjoyed hot or cold.
          </p>
        </section>
        <a href="cappuccino.html" class="more-details-link">
          <button class="more-details">more details</button>
        </a>
      </section>
      <!-- Image of the coffee -->
      <img src="./images/milo.jpg" alt="milo" width="160px" height="160px" />
    </li>
  </ul>
</section>
<br />

<!-- Unlisted list of Juice -->
<h3 class="list-header">JUICE</h3>
<section class="drinks-menu">
  <ul>
    <!-- Individual juice item with name and price -->
    <li class="item-container">
      <section class="item-text">
        <section class="item-header">
          <!-- Juice name and price-->
          <h5>MOJITO</h5>
          <section class="separator"></section>
          <h5>12.00</h5>
        </section>
        <!-- Description of the fresh item -->
        <section class="item-description">
          <p>
            A refreshing Cuban classic made with white rum, sugar, lime juice,
            soda water, and fresh mint leaves.
          </p>
        </section>
        <a href="mojito.html" class="more-details-link">
          <button class="more-details">more details</button>
        </a>
      </section>
      <!-- Image of the juice -->
      <img
        src="./images/mojito.jpg"
        alt="mojito"
        width="160px"
        height="160px"
      />
    </li>
    <!-- Individual juice item with name and price -->
    <li class="item-container">
      <section class="item-text">
        <section class="item-header">
          <!-- Juice name and price -->
          <h5>LEMON TEA</h5>
          <section class="separator"></section>
          <h5>RM4.00</h5>
        </section>
        <!-- Description of the fresh fruit item -->
        <section class="item-description">
          <p>
            A soothing blend of black or green tea infused with the tangy flavor
            of fresh lemons. Perfect for a relaxing afternoon.
          </p>
        </section>
        <a href="mojito.html" class="more-details-link">
          <button class="more-details">more details</button>
        </a>
      </section>
      <!-- Image of the juice -->
      <img
        src="./images/lemon-team.webp"
        alt="lemon tea"
        width="160px"
        height="160px"
      />
    </li>
    <!-- Individual juice item with name and price -->
    <li class="item-container">
      <section class="item-text">
        <section class="item-header">
          <!-- Juice name and price -->
          <h5>TAMARIND</h5>
          <section class="separator"></section>
          <h5>RM5.00</h5>
        </section>
        <!-- Description of the fresh fruit item -->
        <section class="item-description">
          <p>
            An exotic beverage made from tamarind, sugar, and water. Offers a
            unique sweet and sour flavor profile.
          </p>
        </section>
        <a href="mojito.html" class="more-details-link">
          <button class="more-details">more details</button>
        </a>
      </section>
      <!-- image of the juices -->
      <img
        src="./images/tamarind.webp"
        alt="tamarind"
        width="160px"
        height="160px"
      />
    </li>
    <!-- Individual juice item with name and price -->
    <li class="item-container">
      <section class="item-text">
        <section class="item-header">
          <!-- Juice name and price -->
          <h5>SEASONAL FRESH FRUIT JUICE</h5>
          <section class="separator"></section>
          <h5>RM6.50</h5>
        </section>
        <!-- Description of the fresh fruit item -->
        <section class="item-description">
          <p>
            Freshly squeezed juice made from the best fruits of the season. A
            healthy and refreshing choice.
          </p>
        </section>
        <a href="mojito.html" class="more-details-link">
          <button class="more-details">more details</button>
        </a>
      </section>
      <!-- image of the juices -->
      <img
        src="./images/seasonal-juice.png"
        alt="fruit juice"
        width="160px"
        height="160px"
      />
    </li>
    <!-- Individual juice item with name and price -->
    <li class="item-container">
      <section class="item-text">
        <!-- Juice name and price -->
        <section class="item-header">
          <h5>MINT FRESHER</h5>
          <section class="separator"></section>
          <h5>RM5.00</h5>
        </section>
        <!-- Description of the fresh fruit item -->
        <section class="item-description">
          <p>
            A sparkling fruit drink infused with the coolness of mint. Packed
            with vitamins and bursting with flavor.
          </p>
        </section>
        <a href="mojito.html" class="more-details-link">
          <button class="more-details">more details</button>
        </a>
      </section>
      <!--image of the juices -->
      <img
        src="./images/mint-drink.jpg"
        alt="mint fresher"
        width="160px"
        height="160px"
      />
    </li>
  </ul>
</section>
<br />

<!-- Unlisted list of Soft Drinks -->
<h3 class="list-header">SOFT DRINKS</h3>
<section class="drinks-menu">
  <ul>
    <!-- Individual soft drink item with name and price -->
    <li class="item-container">
      <section class="item-text">
        <section class="item-header">
          <!-- Drink name and answer -->
          <h5>COCA-COLA</h5>
          <section class="separator"></section>
          <h5>RM2.20</h5>
        </section>
        <br />
        <a href="coke.html" class="more-details-link">
          <button class="more-details">more details</button>
        </a>
      </section>
      <!-- Image of the drinks -->
      <img
        src="./images/coca-cola.jpg"
        alt="coca-cola"
        width="160px"
        height="160px"
      />
    </li>
    <!-- Individual soft drink item with name and price -->
    <li class="item-container">
      <section class="item-text">
        <section class="item-header">
          <!-- Drink name and answer -->
          <h5>SPRITE</h5>
          <section class="separator"></section>
          <h5>RM2.20</h5>
        </section>
        <br />
        <a href="coke.html" class="more-details-link">
          <button class="more-details">more details</button>
        </a>
      </section>
      <!-- Image of the drinks -->
      <img
        src="./images/sprite.jpg"
        alt="sprite"
        width="160px"
        height="160px"
      />
    </li>
    <!-- Individual soft drink item with name and price -->
    <li class="item-container">
      <section class="item-text">
        <section class="item-header">
          <!-- Drink name and answer -->
          <h5>SPARKLING WATER</h5>
          <section class="separator"></section>
          <h5>RM3.50</h5>
        </section>
        <br />
        <a href="coke.html" class="more-details-link">
          <button class="more-details">more details</button>
        </a>
      </section>
      <!-- Image of the drinks -->
      <img
        src="./images/sparkling.webp"
        alt="sparkling water"
        width="160px"
        height="160px"
      />
    </li>
    <!-- Individual soft drink item with name and price -->
    <li class="item-container">
      <section class="item-text">
        <section class="item-header">
          <!-- Drink name and answer -->
          <h5>FANTA ORANGE</h5>
          <section class="separator"></section>
          <h5>RM2.00</h5>
        </section>
        <br />
        <a href="coke.html" class="more-details-link">
          <button class="more-details">more details</button>
        </a>
      </section>
      <!-- Image of the drinks -->
      <img
        src="./images/fanta-orange.webp"
        alt="fanta orange"
        width="160px"
        height="160px"
      />
    </li>
  </ul>
</section>
<br />

<!-- Unlisted list of Desserts -->
<h3 class="list-header" id="dessert-nav">DESSERTS</h3>
<section class="drinks-menu">
  <ul>
    <!-- Individual dessert item with name and price -->
    <li class="item-container">
      <section class="item-text">
        <section class="item-header">
          <!-- Desserts name and answer -->
          <h5>MILK SHAKES</h5>
          <section class="separator"></section>
          <h5>RM6.50</h5>
        </section>
        <!-- Description of the dessert's item -->
        <section class="item-description">
          <p>
            Sweet and creamy beverages made from milk and ice cream, available
            in various flavors.
          </p>
        </section>
        <a href="milkShake.html" class="more-details-link">
          <button class="more-details">more details</button>
        </a>
      </section>
      <!-- Image of the desserts-->
      <img
        src="./images/milkshake.jpg"
        alt="milk shake"
        width="160px"
        height="160px"
      />
    </li>
    <!-- Individual dessert item with name and price -->
    <li class="item-container">
      <section class="item-text">
        <section class="item-header">
          <!-- Desserts name and answer -->
          <h5>OREO SHAKE</h5>
          <section class="separator"></section>
          <h5>RM7.00</h5>
        </section>
        <!-- Description of the dessert's item -->
        <section class="item-description">
          <p>
            A decadent treat blending vanilla ice cream, milk, and Oreo cookies
            into a smooth and creamy shake.
          </p>
        </section>
        <a href="milkShake.html" class="more-details-link">
          <button class="more-details">more details</button>
        </a>
      </section>
      <!-- Image of the desserts-->
      <img
        src="./images/oreoshake.jpg"
        alt="oreo shake"
        width="160px"
        height="160px"
      />
    </li>
    <!-- Individual dessert item with name and price -->
    <li class="item-container">
      <section class="item-text">
        <section class="item-header">
          <!-- Desserts name and answer -->
          <h5>ICE CREAM CUP</h5>
          <section class="separator"></section>
          <h5>RM4.50</h5>
        </section>
        <!-- Description of the dessert's item -->
        <section class="item-description">
          <p>
            Your choice of ice cream served in a cup. Simple yet satisfying.
          </p>
        </section>
        <a href="milkShake.html" class="more-details-link">
          <button class="more-details">more details</button>
        </a>
      </section>
      <!-- Image of the desserts-->
      <img
        src="./images/icecream.jpg"
        alt="ice cream cup"
        width="160px"
        height="160px"
      />
    </li>
    <!-- Individual dessert item with name and price -->
    <li class="item-container">
      <section class="item-text">
        <section class="item-header">
          <h5>ICE CREAM FALUDA</h5>
          <section class="separator"></section>
          <h5>RM6.50</h5>
        </section>
        <!-- Description of the dessert's item -->
        <section class="item-description">
          <p>
            An indulgent dessert featuring rose syrup, vermicelli noodles, basil
            seeds, and a scoop of ice cream.
          </p>
        </section>
        <a href="milkShake.html" class="more-details-link">
          <button class="more-details">more details</button>
        </a>
      </section>
      <img
        src="./images/faloda.jpg"
        alt="ice cream faloda"
        width="160px"
        height="160px"
      />
    </li>
  </ul>
</section>
<br />
{% endblock %}
