{% extends 'main.html' %} {% load static %} {% block content %}
<h1 class="drinks-heading">Drinks</h1>

{% for type, items in drink_items_grouped %}
<h3 class="list-header">{{ type }}</h3>
<section class="drinks-menu">
  <ul>
    {% for item in items %}
    <li class="item-container">
      <section class="item-text">
        <section class="item-header">
          <h5>{{ item.name }}</h5>
          <section class="separator"></section>
          <h5>RM{{ item.price }}</h5>
        </section>
        <section class="item-description">
          <p>{{ item.description }}</p>
        </section>
        <a href="{% url 'item_detail' pk=item.id %}" class="more-details-link">
          <button class="more-details">more details</button>
        </a>
      </section>
      <img
        src="{{ MEDIA_URL }}{{ item.image.url }}"
        alt="{{ item.name }}"
        style="width: 160px; height: 160px"
      />
    </li>
    {% endfor %}
  </ul>
</section>
<br />
{% endfor %} {% endblock %}
