{% extends 'main.html' %} {% load static %} {% block content %}
<h1 class="food-heading">Food</h1>

<h3 class="list-header">BURGER</h3>
<section class="food-menu">
  <!-- Unlisted list of BURGER items -->
  <ul>
    <!-- Individual food item with name and price -->
    <li class="item-container">
      <section class="item-text">
        <section class="item-header">
          <!-- Food name and price -->
          <h5>CHICKEN BURGER</h5>
          <section class="separator"></section>
          <h5>RM10.50</h5>
        </section>
        <section class="item-description">
          <!-- Description of the food item -->
          <p>
            chicken patty, buns, lettuce, tomato, onion, pickles, mayonnaise,
            ketchup, mustard
          </p>
        </section>
        <a href="chickenBurger.html" class="more-details-link">
          <button class="more-details">more details</button>
        </a>
        <!-- Image of the food -->
      </section>
      <img
        src="./images/chickenburg.jpg"
        alt="Chicken Burger"
        style="width: 160px; height: 160px"
      />
    </li>
    <!-- Individual food item with name and price -->
    <li class="item-container">
      <section class="item-text">
        <section class="item-header">
          <!-- Food name and price -->
          <h5>CHEESE BURGER</h5>
          <section class="separator"></section>
          <h5>RM14.50</h5>
        </section>
        <!-- Description of the food item -->
        <section class="item-description">
          <p>
            patty, cheese, buns, lettuce, tomato, onion, pickles, mayonnaise,
            ketchup, mustard
          </p>
        </section>
        <a href="chickenBurger.html" class="more-details-link">
          <button class="more-details">more details</button>
        </a>
      </section>
      <!-- Image of the food -->
      <img
        src="./images/burger.jpg"
        alt="Cheese Burger"
        width="160px"
        height="160px"
      />
    </li>
    <!-- Individual food item with name and price -->
    <li class="item-container">
      <section class="item-text">
        <section class="item-header">
          <!-- Food name and price -->
          <h5>BEEF BURGER</h5>
          <section class="separator"></section>
          <h5>RM15.00</h5>
        </section>
        <!-- Description of the food item -->
        <section class="item-description">
          <p>
            double patty, buns, lettuce, tomato, onion, pickles, mayonnaise,
            ketchup, mustard
          </p>
        </section>
        <a href="chickenBurger.html" class="more-details-link">
          <button class="more-details">more details</button>
        </a>
      </section>
      <!-- Image of the food -->
      <img
        src="./images/burg.jpg"
        alt="Beef Burger"
        width="160px"
        height="160px"
      />
    </li>
  </ul>
</section>
<br />

<!-- Unlisted list of PIZZA items -->
<h3 class="list-header">PIZZA</h3>
<section class="food-menu">
  <ul>
    <!-- Individual food item with name and price -->
    <li class="item-container">
      <section class="item-text">
        <section class="item-header">
          <!-- Food name and price -->
          <h5>BBQ CHICKEN</h5>
          <section class="separator"></section>
          <h5>RM18.00</h5>
        </section>
        <!-- Description of the food item -->
        <section class="item-description">
          <p>bbq sauce, grilled chicken, red onion, mozzarella</p>
        </section>
        <a href="bbqChickenPizza.html" class="more-details-link">
          <button class="more-details">more details</button>
        </a>
      </section>
      <!-- Image of the food -->
      <img
        src="./images/bbqchick.jpg"
        alt="BBQ CHICKEN"
        width="160px"
        height="160px"
      />
    </li>
    <!-- Individual food item with name and price -->
    <li class="item-container">
      <section class="item-text">
        <section class="item-header">
          <!-- Food name and price -->
          <h5>BEEF PEPPERONI</h5>
          <section class="separator"></section>
          <h5>RM18.00</h5>
        </section>
        <!-- Description of the food item -->
        <section class="item-description">
          <p>pepperoni, beef, red onion, mozzarella</p>
        </section>
        <a href="bbqChickenPizza.html" class="more-details-link">
          <button class="more-details">more details</button>
        </a>
      </section>
      <!-- Image of the food -->
      <img
        src="./images/pepp.jpg"
        alt="BEEF PEPPERONI"
        width="160px"
        height="160px"
      />
    </li>
    <!-- Individual food item with name and price -->
    <li class="item-container">
      <section class="item-text">
        <section class="item-header">
          <!-- Food name and price -->
          <h5>CLASSIC MARGHERITA</h5>
          <section class="separator"></section>
          <h5>RM18.00</h5>
        </section>
        <!-- Description of the food item -->
        <section class="item-description">
          <p>tomato, mozzarella, olive oil, basil</p>
        </section>
        <a href="bbqChickenPizza.html" class="more-details-link">
          <button class="more-details">more details</button>
        </a>
      </section>
      <!-- Image of the food -->
      <img
        src="./images/marg.jpg"
        alt="CLASSIC MARGHERITA"
        width="160px"
        height="160px"
      />
    </li>
    <!-- Individual food item with name and price -->
    <li class="item-container">
      <section class="item-text">
        <section class="item-header">
          <!-- Food name and price -->
          <h5>HAWAIIAN CHICKEN</h5>
          <section class="separator"></section>
          <h5>RM18.00</h5>
        </section>
        <!-- Description of the food item -->
        <section class="item-description">
          <p>tomato, mozzarella, ham, pineapple, chicken</p>
        </section>
        <a href="bbqChickenPizza.html" class="more-details-link">
          <button class="more-details">more details</button>
        </a>
      </section>
      <!-- Image of the food -->
      <img
        src="./images/hawaii.jpg"
        alt="HAWAIIAN CHICKEN"
        width="160px"
        height="160px"
      />
    </li>
    <!-- Individual food item with name and price -->
    <li class="item-container">
      <section class="item-text">
        <section class="item-header">
          <!-- Food name and price -->
          <h5>HONEY GARLIC CHICKEN</h5>
          <section class="separator"></section>
          <h5>RM18.00</h5>
        </section>
        <!-- Description of the food item -->
        <section class="item-description">
          <p>
            honey garlic sauce, red/green bell pepper, mozzarella, ham,
            pineapple, chicken
          </p>
        </section>
        <a href="bbqChickenPizza.html" class="more-details-link">
          <button class="more-details">more details</button>
        </a>
      </section>
      <!-- Image of the food -->
      <img
        src="./images/chicken.jpg"
        alt="HONEY GARLIC CHICKEN"
        width="160px"
        height="160px"
      />
    </li>
    <!-- Individual food item with name and price -->
    <li class="item-container">
      <section class="item-text">
        <section class="item-header">
          <!-- Food name and price -->
          <h5>TRIPLE CHEESE</h5>
          <section class="separator"></section>
          <h5>RM18.00</h5>
        </section>
        <!-- Description of the food item -->
        <section class="item-description">
          <p>mozzarella, cheddar, parmesan, tomato</p>
        </section>
        <a href="bbqChickenPizza.html" class="more-details-link">
          <button class="more-details">more details</button>
        </a>
      </section>
      <!-- Image of the food -->
      <img
        src="./images/triple.jpg"
        alt="TRIPLE CHEESE"
        width="160px"
        height="160px"
      />
    </li>
  </ul>
</section>
<br />

<!-- Unlisted list of PASTA items -->
<h3 class="list-header">PASTA</h3>
<section class="food-menu">
  <ul>
    <!-- Individual food item with name and price -->
    <li class="item-container">
      <section class="item-text">
        <section class="item-header">
          <!-- Food name and price -->
          <h5>CHEESY ALFREDO</h5>
          <section class="separator"></section>
          <h5>RM15.00</h5>
        </section>
        <!-- Description of the food item -->
        <section class="item-description">
          <p>
            fettuccine pasta, butter, parmesan, mozzarella, garlic, parsley (for
            garnish)
          </p>
        </section>
        <a href="cheeseAlfredo.html" class="more-details-link">
          <button class="more-details">more details</button>
        </a>
      </section>
      <!-- Image of the food -->
      <img
        src="./images/alfreo.jpg"
        alt="CHEESY ALFREDO"
        width="160px"
        height="160px"
      />
    </li>
    <!-- Individual food item with name and price -->
    <li class="item-container">
      <section class="item-text">
        <section class="item-header">
          <!-- Food name and price -->
          <h5>EL DIAOBLO PASTA</h5>
          <section class="separator"></section>
          <h5>RM15.00</h5>
        </section>
        <!-- Description of the food item -->
        <section class="item-description">
          <p>
            penne pasta, tomato sauce, italian sausage, red chili flakes garlic,
            olive oil, shrimp, parmesan, mozzarella, parsley (for garnish)
          </p>
        </section>
        <a href="cheeseAlfredo.html" class="more-details-link">
          <button class="more-details">more details</button>
        </a>
      </section>
      <!-- Image of the food -->
      <img
        src="./images/diablo.jpg"
        alt="EL DIAOBLO PASTA"
        width="160px"
        height="160px"
      />
    </li>
    <!-- Individual food item with name and price -->
    <li class="item-container">
      <section class="item-text">
        <section class="item-header">
          <!-- Food name and price -->
          <h5>SPAGHETTI CARBONARA</h5>
          <section class="separator"></section>
          <h5>RM15.00</h5>
        </section>
        <!-- Description of the food item -->
        <section class="item-description">
          <p>spaghetti pasta, eggs, pancetta, parmesan, garlic</p>
        </section>
        <a href="cheeseAlfredo.html" class="more-details-link">
          <button class="more-details">more details</button>
        </a>
      </section>
      <!-- Image of the food -->
      <img
        src="./images/carbonara.jpg"
        alt="SPAGHETTI CARBONARA"
        width="160px"
        height="160px"
      />
    </li>
  </ul>
</section>
<br />
{% endblock %}
