{% load static %}
<footer>
  <section class="socials">
    <h2>Follow us on social media</h2>
    <a href="https://www.facebook.com/login.php">
      <img
        src="{% static 'images/facebook.png' %}"
        alt="Facebook Icon"
        width="48px"
        height="48px"
      />
    </a>
    <a href="https://twitter.com/">
      <img
        src="{% static 'images/twitter.png' %}"
        alt="Twitter Icon"
        width="48px"
        height="48px"
      />
    </a>
    <a href="https://www.instagram.com/">
      <img
        src="{% static 'images/instagram.png' %}"
        alt="Instagram Icon"
        width="48px"
        height="48px"
      />
    </a>
  </section>
  <p>© 2023 Homely. All rights reserved.</p>
  <address>
    123 Tasty Avenue, Foodie City, FD 12345
    <a href="tel:+1234567890">+60 12-345 6789</a><br />
    <a href="mailto:info@Homely.com">info@homely.com</a>
  </address>
</footer>
