{% load static %}
<header>
  <!-- logo linking to index.html/homepage -->
  <section class="logo">
    <a href="{% url 'home' %}">
      <img src="{% static 'images/logo.jpg' %}" alt="Logo of Homely" />
    </a>
  </section>
  <!-- Navigation Menu -->
  <nav>
    <a href="{% url 'menu' %}">Menu</a>
    <a href="{% url 'catalog' %}">Catalogue</a>
    <a href="{% url 'about' %}">About</a>
    <a href="{% url 'contact' %}">Contact</a>
    <a href="{% url 'cart' %}" class="cart-link">
      <img src="{% static 'images/Black_cart.png' %}" alt="Cart" />
    </a>
    {% if user.is_authenticated %}
    <form class= "logout" action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <button type="submit">Logout</button>
    </form>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
  </nav>
</header>
