{% load static %}
<header>
  <!-- logo linking to index.html/homepage -->
  <section class="logo">
    <a href="index.html">
      <img src="{% static 'images/logo.jpg' %}" alt="Logo of Homely" />
    </a>
  </section>
  <!-- Navigation Menu -->
  <nav>
    <a href="food.html">Food</a>
    <a href="drinks.html">Drinks</a>
    <a href="menu.html">Menu</a>
    <a href="catalogue.html">Catalogue</a>
    <a href="about.html">About</a>
    <a href="contact.html">Contact</a>
    <a href="cart.html" class="cart-link">
      <img src="{% static 'images/Black_cart.png' %}" alt="Cart" />
    </a>
  </nav>
</header>
