{% extends 'main.html' %} {% load static %} {% block content %}
<hgroup>
  <!-- Headline and tagline of the website -->
  <h1>Welcome to Homely!</h1>
  <p>Experience the best food and drinks in town.</p>
  <!-- Button to the menu -->
  <button>
    <a href="{% url 'menu' %}">Let me see the menu</a>
  </button>
</hgroup>
<section class="info-container">
  <h3>Our Services</h3>
  <!-- unlisted list of services -->
  <ul class="list-wrapper">
    <li class="card">
      <img
        src="{% static 'images/wedding.jpg' %}"
        alt="Wedding Services"
        width="160px"
        height="160px"
      />Wedding Services
    </li>
    <li class="card">
      <img
        src="{% static 'images/buffet.jpg' %}"
        alt="Buffet Services"
        width="160px"
        height="160px"
      />Buffet Services
    </li>
    <li class="card">
      <img
        src="{% static 'images/catering.jpg' %}"
        alt="Event Catering"
        width="160px"
        height="160px"
      />Event Catering
    </li>
  </ul>
</section>
<!-- reservations section with button link to reserve -->
<section class="reserve">
  <h2>Reserve your table at any time for any occasion</h2>
  <button>
    <a href="{% url 'contact' %}">Let's go</a>
  </button>
</section>
<section class="info-container">
  <h3>Featured Products</h3>
  <p>All Time Customer Favorites</p>
  <!-- unlisted list of featured products -->
  <ul class="list-wrapper">
    <li class="card">
      <img
        src="./images/carbonara.jpg"
        alt="Spaghetti Carbonara"
        width="160px"
        height="160px"
      />Spaghetti Carbonara
    </li>
    <li class="card">
      <img
        src="./images/chicken.jpg"
        alt="Honey Garlic Chicken"
        width="160px"
        height="160px"
      />Honey Garlic Chicken
    </li>
    <li class="card">
      <img
        src="./images/burger.jpg"
        alt="Chicken Burger"
        width="160px"
        height="160px"
      />Chicken Burger
    </li>
  </ul>
</section>
<section class="operations">
  <!-- table to display operation hours -->
  <h3>Operation Hours</h3>
  <table class="hours">
    <tbody>
      <tr>
        <th>Monday -</th>
        <td>10pm - 7pm</td>
      </tr>
      <tr>
        <th>Tuesday -</th>
        <td>10am - 9pm</td>
      </tr>
      <tr>
        <th>Wednesday -</th>
        <td>10am - 9pm</td>
      </tr>
      <tr>
        <th>Thursday -</th>
        <td>10am - 9pm</td>
      </tr>
      <tr>
        <th>Friday -</th>
        <td>10am - 9pm</td>
      </tr>
      <tr>
        <th>Saturday -</th>
        <td>10am - 9pm</td>
      </tr>
      <tr>
        <th>Sunday -</th>
        <td>10am - 3pm</td>
      </tr>
    </tbody>
  </table>
</section>
<!--Catalogue of products in list-->
<section class="products">
  <h3>We also sell</h3>
  <ul class="product-container">
    <li class="product">
      <a href="sauce.html">
        <img src="./images/bbqsauce.jpg" alt="product-image" />
      </a>
      <section class="product-desc">
        <h4>Spicy BBQ Sauce</h4>
        <section class="buy">
          <h5>RM3</h5>
          <a href="sauce.html" class="cart-link">
            <img src="{% static 'images/shopping-cart.png' %}" alt="shopping cart icon" />
          </a>
        </section>
      </section>
    </li>
    <li class="product">
      <a href="sauce.html">
        <img src="./images/chickenrub.jpg" alt="product-image"
      /></a>
      <section class="product-desc">
        <h4>Special Chicken Rub</h4>
        <section class="buy">
          <h5>RM3</h5>
          <a href="sauce.html" class="cart-link">
            <img src="{% static 'images/shopping-cart.png' %}" alt="shopping cart icon" />
          </a>
        </section>
      </section>
    </li>
    <li class="product">
      <a href="sauce.html">
        <img src="./images/truffle.jpg" alt="product-image" />
      </a>
      <section class="product-desc">
        <h4>Gourmet Truffle Butter</h4>
        <section class="buy">
          <h5>RM6</h5>
          <a href="sauce.html" class="cart-link">
            <img
              src="{% static 'images/shopping-cart.png' %}"
              alt="shopping cart icon"
            />
          </a>
        </section>
      </section>
    </li>
  </ul>
  <div class="view-catalogue-container">
    <a class="view-catalogue" href="catalogue.html">View Catalogue</a>
  </div>
</section>
{% endblock %}
