{% extends 'main.html' %} {% load static %} {% csrf_token %} {% block content %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{% static 'jscript/addToCart.js' %}"></script>
<h1 class="food-heading">{{ item.type }}</h1>
<section class="food-item">
  <section class="col1">
    <img src="{{ MEDIA_URL }}{{ item.image.url }}" alt="{{ item.name }}" />
  </section>
  <section class="col2">
    <h2>{{ item.name }}</h2>
    <h3>RM{{ item.price }}</h3>
    <input type="number" class="item-quantity" value="1" />
    <button class="order-button" data-item-id="{{ item.id }}">Order</button>
    <h4>Product Details</h4>
    <p>{{ item.description }}</p>
  </section>
</section>

{% endblock %}
