{% extends 'main.html' %} {% load static %} {% block content %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{% static 'jscript/addToCart.js' %}"></script>
<h1 class="food-heading">{{ item.type }}</h1>
<section class="food-item">
  <section class="col1">
    <img src="{{ MEDIA_URL }}{{ item.image.url }}" alt="{{ item.name }}" />
  </section>
  <section class="col2">
    <h2>{{ item.name }}</h2>
    <h3>RM{{ item.price }}</h3>
    <form action="{% url 'add_to_cart' item_type='food' pk=item.pk %}" method="post">
      {% csrf_token %}
      <input type="number" name="quantity" value="1" min="1" />
      <button type="submit" class="order-button">Order</button>
    </form>
    <h4>Product Details</h4>
    <p>{{ item.description }}</p>
  </section>
</section>
{% endblock %}
