{% extends 'main.html' %} {% load static %} {% block content %}
<h1 class="menu-heading">Menu</h1>

<section class="menu-container">
  {% for category, items in food_items_grouped %}
  <section class="category-container">
    <!-- Text links to each category -->
    <a href="{% url category|lower %}" class="category-label">{{ category }}</a>
  </section>
  <!-- A list of items with names and prices for each category -->
  <section class="{{ category|lower }}-container">
    {% for item in items %}
    <article class="item">
      <p class="{{ category|lower }}">{{ item.name }}</p>
      <p class="price">RM{{ item.price }}</p>
    </article>
    {% endfor %}
  </section>
  {% endfor %}
</section>
{% endblock %}
