{% extends 'main.html' %} {% load static %} {% block content %}
<!-- Heading for the menu section -->
<h1 class="menu-heading">Menu</h1>

<section class="menu-container">
  <section class="category-container">
    <!-- Text links to "Food" category -->
    <a href="food.html" class="category-label">Food</a>
  </section>
  <!-- A list of food items with names and prices-->
  <section class="food-container">
    <article class="item">
      <p class="food">Chicken Burger</p>
      <p class="price">RM10.50</p>
    </article>
    <article class="item">
      <p class="food">Cheese Burger</p>
      <p class="price">RM14.50</p>
    </article>
    <article class="item">
      <p class="food">Beef Burger</p>
      <p class="price">Rm15.00</p>
    </article>
    <article class="item">
      <p class="food">BBQ Chicken Pizza</p>
      <p class="price">RM18.00</p>
    </article>
    <article class="item">
      <p class="food">Beef Pepperoni Pizza</p>
      <p class="price">RM18.00</p>
    </article>
    <article class="item">
      <p class="food">Classic Margherita Pizza</p>
      <p class="price">RM18.00</p>
    </article>
    <article class="item">
      <p class="food">Hawaian Chicken Pizza</p>
      <p class="price">RM18.00</p>
    </article>
    <article class="item">
      <p class="food">Honey Garlic Chicken Pizza</p>
      <p class="price">RM18.00</p>
    </article>
    <article class="item">
      <p class="food">Triple Cheese Pizza</p>
      <p class="price">RM18.00</p>
    </article>
    <article class="item">
      <p class="food">Cheesy Alredo Pasta</p>
      <p class="price">RM15.00</p>
    </article>
    <article class="item">
      <p class="food">El Diablo Pasta</p>
      <p class="price">RM15.00</p>
    </article>
    <article class="item">
      <p class="food">Spaghetti Carbonara</p>
      <p class="price">RM15.00</p>
    </article>
  </section>

  <section class="category-container">
    <!-- Text linking to Drinks section -->
    <a href="drinks.html" class="category-label">Drinks</a>
  </section>
  <!-- A list of drinks items with names and prices-->
  <section class="drinks-container">
    <article class="item">
      <p class="drinks">Cappuccino</p>
      <p class="price">RM7.50</p>
    </article>
    <article class="item">
      <p class="drinks">Latte</p>
      <p class="price">RM8.00</p>
    </article>
    <article class="item">
      <p class="drinks">Macchiato</p>
      <p class="price">RM8.00</p>
    </article>
    <article class="item">
      <p class="drinks">Espresso</p>
      <p class="price">RM6.00</p>
    </article>
    <article class="item">
      <p class="drinks">Milo</p>
      <p class="price">RM3.50</p>
    </article>
    <article class="item">
      <p class="drinks">Mojito</p>
      <p class="price">RM12.00</p>
    </article>
    <article class="item">
      <p class="drinks">Lemon Tea</p>
      <p class="price">RM4.00</p>
    </article>
    <article class="item">
      <p class="drinks">Tamarind</p>
      <p class="price">RM5.00</p>
    </article>
    <article class="item">
      <p class="drinks">Seasonal Fruit Juice</p>
      <p class="price">RM6.50</p>
    </article>
    <article class="item">
      <p class="drinks">Mint Fresher</p>
      <p class="price">RM5.00</p>
    </article>
    <article class="item">
      <p class="drinks">Coca-cola</p>
      <p class="price">RM2.20</p>
    </article>
    <article class="item">
      <p class="drinks">Sprite</p>
      <p class="price">RM2.20</p>
    </article>
    <article class="item">
      <p class="drinks">Sparkling Water</p>
      <p class="price">RM3.50</p>
    </article>
    <article class="item">
      <p class="drinks">Fanta Orange</p>
      <p class="price">RM2.20</p>
    </article>
  </section>

  <section class="category-container">
    <!-- Text linking to dessert section in Drinks section -->
    <a href="drinks.html#dessert-nav" class="category-label">Dessert</a>
  </section>
  <!-- A list of dessert items with names and prices-->
  <section class="dessert-container">
    <article class="item">
      <p class="dessert">Milk Shakes</p>
      <p class="price">RM6.50</p>
    </article>
    <article class="item">
      <p class="dessert">Oreo Shake</p>
      <p class="price">RM7.00</p>
    </article>
    <article class="item">
      <p class="dessert">Ice Cream Cup</p>
      <p class="price">RM4.50</p>
    </article>
    <article class="item">
      <p class="dessert">Ice Cream Faluda</p>
      <p class="price">RM6.50</p>
    </article>
  </section>
</section>
{% endblock %}
