{% extends 'main.html' %} {% load static %} {% block content %}
<h1 class="food-heading">{{ product.type }}</h1>
<section class="food-item">
  <section class="col1">
    <img src="{{ MEDIA_URL }}{{ product.image.url }}" alt="{{ product.name }}" />
  </section>
  <section class="col2">
    <h2>{{ product.name }}</h2>
    <h3>RM{{ product.price }}</h3>
    <form action="{% url 'add_to_cart' item_type='product' pk=product.pk %}" method="post">
      {% csrf_token %}
      <input type="number" name="quantity" value="1" min="1" />
      <button type="submit" class="order-button">Order</button>
    </form>
    <h4>Product Details</h4>
    <p>{{ product.description }}</p>
  </section>
</section>
{% endblock %}